@font-face {
  font-family: "Hagrid";
  src: url(/static/hagrid/Hagrid-Regular-trial.ttf);
}
@font-face {
  font-family: "Hagrid-i";
  src: url(/static/hagrid/Hagrid-Italic-trial.ttf);
}
@font-face {
  font-family: "Hagrid-b";
  src: url(/static/hagrid/Hagrid-Text-Extrabold-trial.ttf);
}
@font-face {
  font-family: "Hagrid-bi";
  src: url(/static/hagrid/Hagrid-Text-Extrabold-Italic-trial.ttf);
}

:root {
  --font-r: Hagrid;
  --font-i: Hagrid-i;
  --font-b: Hagrid-b;
  --font-bi: Hagrid-bi;
  --d-color: 16, 0, 27;
}

.font {
  font-family: var(--font-r);
  font-weight: normal;
}
.highlight {
  font-family: var(--font-i);
  color: rgb(var(--d-color));
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
  min-width: 100vw;
}
/* body {
  background-image: url(/static/media/marjan-blan-marjanblan-_kUxT8WkoeY-unsplash\ 1.png);
  background-size: 50% 50%;
  background-repeat: repeat;
  padding: 1px;
  overflow-x: hidden;
  min-height: 100vh;
} */
/* #bg {
  height: 100vh;
  width: 100vw;
  background-image: url(/static/media/bg-img.jpg);
  position: fixed;
  background-size: 100% 80%;
  background-repeat: repeat;
  z-index: -10;
} */
header {
  overflow-x: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3rem;
}
/* #logo {
  width: 5rem;
  height: auto;
} */
/* .menu-wrap {
  width: 7rem;
  height: 1.5rem;
} */
#menu #l-line {
  transition: 0.3s ease;
}
.menu-wrap:hover #l-line {
  transform: translate(-14px);
}
.menu-wrap ul {
  list-style: none;
  padding-top: 4rem;
  width: 20rem;
  transition: 0.5s ease;
  position: absolute;
}
.menu-wrap li {
  border-bottom: none;
  text-align: right;
  font-size: 18px;
  line-height: 40px;
}
.menu-wrap a{
    text-decoration: none;
    color: rgb(var(--d-color));
    transition: .3s ease;
    cursor: pointer;
}
.menu-wrap a:hover{
    border-bottom: 1px solid;
}
.menu-wrap:hover ul {
  width: 0rem;
}
.flt-email {
  position: fixed;
  transform: rotate(270deg) translateY(-230%) translateX(-150%);
  font-size: 3ch;
  text-decoration: none;
  color: rgb(var(--d-color));
}
.body-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.im {
  grid-column: 5/11;
  position: relative;
  line-height: 100px;
  color: rgb(var(--d-color));
  z-index: 2;
}
.im h3 {
  font-size: 9ch;
}
.im h1 {
  font-size: 15.8ch;
  font-family: var(--font-b);
}
.intro-img{
  grid-column: 6/11;
  margin-bottom: 1rem;
}
.intro-text{
  grid-column: 2/11;
  margin-bottom: 15rem;
}
.bio-para {
  font-size: 12ch;
  color: rgb(var(--d-color), 0.7);
}

@media (max-width: 1023px) {
  header{
    overflow-x: hidden;
  }
  #logo{
    width: 4rem;
  }
  .menu-wrap svg{
    width: 4rem;
  }
  .flt-email{
    font-size: 2ch;
  }
  .body-container {
    grid-template-columns: repeat(8, 1fr);
  }
  .im{
    grid-column: 3/7;
    line-height: 70px;
  }
  .im h3{
    font-size: 6ch;
  }
  .im h1{
    font-size: 10ch;
  }
  .intro-img{
    width: 50vw;
    height: auto;
    grid-column: 4/8;
  }
  .intro-text{
    grid-column: 2/8;
  }
  .bio-para{
    font-size: 6ch;
  }
}
@media (max-width: 768px) {
  header{
    padding: 1.5rem 1.5rem;
  }
  #logo {
      width: 3rem;
  }
    .menu-wrap svg {
      width: 3rem;
    }
    .menu-wrap ul{
      padding-top: 1rem;
    }
    .menu-wrap li{
      font-size: 2ch;
      line-height: 30px;
    }
    .im {
      grid-column: 2/7;
      line-height: 40px;
    }
  
    .im h3 {
      font-size: 3ch;
    }
  
    .im h1 {
      font-size: 6ch;
    }
  
    .intro-img {
      width: 60vw;
      height: auto;
      grid-column: 2/8;
    }
  
    .intro-text {
      grid-column: 2/8;
    }
  
    .bio-para {
      font-size: 3ch;
    }
  
}
/* Project section title */
.projects{
  grid-column: 2/13;
  margin-bottom: 3rem;
}
#work-sec-title {
  grid-column: 2/9;
  text-align: center;
  font-size: 25ch;
  font-family: var(--font-b);
  margin-bottom: 10rem;
}
.proj-container{
  grid-column: 4/9;
  width: 100%;
  max-height: 600px;
  height: 100%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.proj-container img{
  width: 50vw;
  height: auto;
  border-radius: 15px;
}
.proj-container input[type=radio]{
  display: none;
}
.proj-imgs{
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}
.card{
  position: absolute;
  width: 60%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform .4s ease;
  cursor: pointer;
}
#proj1:checked ~ .proj-imgs #card-3, #proj2:checked ~ .proj-imgs #card-1, #proj3:checked ~ .proj-imgs #card-2 {
  transform: translatex(-40%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#proj1:checked ~ .proj-imgs #card-2, #proj2:checked ~ .proj-imgs #card-3, #proj3:checked ~ .proj-imgs #card-1 {
  transform: translatex(40%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#proj1:checked ~ .proj-imgs #card-1, #proj2:checked ~ .proj-imgs #card-2, #proj3:checked ~ .proj-imgs #card-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
}
.player {
  background-color: #fff;
  border-radius: 8px;
  min-width: 320px;
  padding: 16px 10px;
}

.upper-part {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  height: 36px;
  overflow: hidden;
}
.song-info {
  width: calc(100% - 32px);
  display: block;
}

.song-info .title {
  color: #403d40;
  font-size: 14px;
  line-height: 24px;
}

.sub-line {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.subtitle, .time {
  font-size: 12px;
  line-height: 16px;
  color: #c6c5c6;
}

#contact-title {
  grid-area: 14/1/16/11;
  place-self: center;
  font-family: var(--font-b);
  font-size: 25ch;
  padding-top: 5rem;
  color: rgb(var(--d-color));
}
.contact {
  grid-area: 16/1/18/11;
  list-style: none;
  padding: 4rem;
}
.contact li {
  font-size: 4.5ch;
  border-bottom: 2px solid;
  padding: 1rem 0rem 1rem 0rem;
  color: rgb(var(--d-color));
}
.contact li span {
  float: right;
}
.contact li a {
  text-decoration: none;
  color: rgb(var(--d-color));
}
footer {
  grid-column: 1/12;
  place-self: center;
  font-size: 4.5ch;
  color: rgb(var(--d-color));
  padding: 1rem;
}
