@font-face {
  font-family: "Hagrid";
  src: url(/static/hagrid/Hagrid-Regular-trial.ttf);
}
@font-face {
  font-family: "Hagrid-i";
  src: url(/static/hagrid/Hagrid-Italic-trial.ttf);
}
@font-face {
  font-family: "Hagrid-b";
  src: url(/static/hagrid/Hagrid-Text-Extrabold-trial.ttf);
}
@font-face {
  font-family: "Hagrid-bi";
  src: url(/static/hagrid/Hagrid-Text-Extrabold-Italic-trial.ttf);
}

:root {
  --font-r: Hagrid;
  --font-i: Hagrid-i;
  --font-b: Hagrid-b;
  --font-bi: Hagrid-bi;
  --d-color: 16, 0, 27;
}

.font {
  font-family: var(--font-r);
  font-weight: normal;
}
.highlight {
  font-family: var(--font-i);
  color: rgb(var(--d-color));
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
  min-width: 100vw;
}
/* body {
  background-image: url(/static/media/marjan-blan-marjanblan-_kUxT8WkoeY-unsplash\ 1.png);
  background-size: 50% 50%;
  background-repeat: repeat;
  padding: 1px;
  overflow-x: hidden;
  min-height: 100vh;
} */
/* #bg {
  height: 100vh;
  width: 100vw;
  background-image: url(/static/media/bg-img.jpg);
  position: fixed;
  background-size: 100% 80%;
  background-repeat: repeat;
  z-index: -10;
} */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3rem;
}
/* #logo {
  width: 5rem;
  height: auto;
} */
/* .menu-wrap {
  width: 7rem;
  height: 1.5rem;
} */
#menu #l-line {
  transition: 0.3s ease;
}
.menu-wrap:hover #l-line {
  transform: translate(-14px);
}
.menu-wrap ul {
  list-style: none;
  padding-top: 4rem;
  transform: translateX(8rem);
  visibility: collapse;
  transition: 0.5s ease;
  position: absolute;
}
.menu-wrap li {
  border-bottom: none;
  text-align: right;
  font-size: 18px;
  line-height: 40px;
}
.menu-wrap a{
    text-decoration: none;
    color: rgb(var(--d-color));
    transition: .3s ease;
    cursor: pointer;
}
.menu-wrap a:hover{
    border-bottom: 1px solid;
}
.menu-wrap:hover ul {
  transform: translateX(0rem);
  visibility: visible;
}
.flt-email {
  position: fixed;
  transform: rotate(270deg) translateY(-230%) translateX(-150%);
  font-size: 3ch;
  text-decoration: none;
  color: rgb(var(--d-color));
}
.body-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.im {
  grid-column: 5/11;
  position: relative;
  line-height: 100px;
  color: rgb(var(--d-color));
  z-index: 2;
}
.im h3 {
  font-size: 9ch;
}
.im h1 {
  font-size: 15.8ch;
  font-family: var(--font-b);
}
.intro-img{
  grid-column: 6/11;
  margin-bottom: 1rem;
}
.intro-text{
  grid-column: 2/11;
}
.bio-para {
  font-size: 12ch;
  color: rgb(var(--d-color), 0.7);
}

@media (max-width: 1023px) {
  #logo{
    width: 4rem;
  }
  .menu-wrap svg{
    width: 4rem;
  }
  .flt-email{
    font-size: 2ch;
  }
  .body-container {
    grid-template-columns: repeat(8, 1fr);
  }
  .im{
    grid-column: 3/7;
    line-height: 70px;
  }
  .im h3{
    font-size: 6ch;
  }
  .im h1{
    font-size: 10ch;
  }
  .intro-img{
    width: 50vw;
    height: auto;
    grid-column: 4/8;
  }
  .intro-text{
    grid-column: 2/8;
  }
  .bio-para{
    font-size: 6ch;
  }
}
@media (max-width: 768px) {
  header{
    padding: 1.5rem 1.5rem;
  }
  #logo {
      width: 3rem;
  }
    .menu-wrap svg {
      width: 3rem;
    }
  .body-container {
      grid-template-columns: repeat(4, 1fr);
      padding: 0rem 1.5rem;
    }
  
    .im {
      grid-column: 2/4;
      line-height: 40px;
    }
  
    .im h3 {
      font-size: 3ch;
    }
  
    .im h1 {
      font-size: 6ch;
    }
  
    .intro-img {
      width: 60vw;
      height: auto;
      grid-column: 2/4;
    }
  
    .intro-text {
      grid-column: 2/5;
    }
  
    .bio-para {
      font-size: 3ch;
    }
  
}

#work-sec-title {
  grid-area: 6/1/8/11;
  text-align: right;
  font-size: 12ch;
  font-family: var(--font-b);
  padding: 5rem 3rem 3rem 0rem;
}
#proj1 img,
#proj2 img,
#proj3 img {
  width: 1039px;
  height: 584px;
}
#proj1 p,
#proj2 p,
#proj3 p {
  font-size: 4.5ch;
  padding-left: 1.5rem;
}
#proj1 {
  grid-area: 8/1/10/7;
  padding: 5rem 0rem 5rem 3rem;
}
.proj-wrap {
  border: 2px solid;
  width: fit-content;
  padding: 1rem;
}
#proj2 {
  grid-area: 10/4/12/10;
  padding: 0rem 5rem 5rem 0rem;
}
#ri-text {
  text-align: right;
  transform: translate(12rem, 0rem);
}
#proj3 {
  grid-area: 12/1/14/7;
  padding: 0rem 0rem 5rem 3rem;
}
#contact-title {
  grid-area: 14/1/16/11;
  place-self: center;
  font-family: var(--font-b);
  font-size: 25ch;
  padding-top: 5rem;
  color: rgb(var(--d-color));
}
.contact {
  grid-area: 16/1/18/11;
  list-style: none;
  padding: 4rem;
}
.contact li {
  font-size: 4.5ch;
  border-bottom: 2px solid;
  padding: 1rem 0rem 1rem 0rem;
  color: rgb(var(--d-color));
}
.contact li span {
  float: right;
}
.contact li a {
  text-decoration: none;
  color: rgb(var(--d-color));
}
footer {
  grid-area: 18/1/19/11;
  place-self: center;
  font-size: 4.5ch;
  color: rgb(var(--d-color));
  padding: 1rem;
}
